---
layout: base
permalink: /Music-Charts-Metadata.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<metadata>
  <dcterms:title>Top 100 Songs of 2022 on Spotify and TikTok</dcterms:title>
  <dcterms:source>Spotify</dcterms:source>
  <dcterms:source>Kaggle</dcterms:source>
  <dcterms:source>TikTok</dcterms:source>
  <dcterms:type>CSV</dcterms:type>
  <dcterms:publisher>Joe Lollo</dcterms:publisher>
  <dcterms:contactPoint>lollo21@uw.edu</dcterms:contactPoint>
  <dcterms:created>2023-02-24</dcterms:created>
  <dcterms:modified>2023-02-26</dcterms:modified>
  <dcterms:subject>popular music</dcterms:subject>
  <dcterms:subject>social media</dcterms:subject>
  <dcterms:subject>popular culture</dcterms:subject>
  <dcterms:subject>streaming</dcterms:subject>
  <dcterms:language>English</dcterms:language>
  <dcterms:temporal>2022-01-01</dcterms:temporal>
  <dcterms:temporal>2022-12-31</dcterms:temporal>
  <dcterms:accessURL>https://raw.githubusercontent.com/ChessPiece21/LIS-54X/main/Curation-Protocol/2022-Music-Charts.csv</dcterms:accessURL>
  <dcterms:accessLevel>Public</dcterms:accessLevel>
  <dcterms:accessRights>This data is freely available to the public.</dcterms:accessRights>
</metadata>
